doctype html
html
  head
    meta(charset='utf-8')
  body
    style.
      @import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700';
      html,
      body {
        margin: 0;
        padding: 0;
      }
      body {
        width: 592px;
        height: 794px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
      }
      table {
        border-spacing: 0;
        border-collapse: collapse;
      }
      strong {
        font-weight: bold;
      }
      #container {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 100%;
        padding: 4%;
      }
      #header {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding-bottom: 1em;
        border-bottom: 3px solid #007bff;
      }
      #header > .logo {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
      }
      #header > .logo > img {
        height: 3em;
        vertical-align: text-bottom;
      }
      #header > .logo > b {
        font-size: 2em;
        color: #333;
      }
      #header > .numbers {
        margin-left: auto;
        text-align: right;
      }
      #header > .numbers > p {
        margin: 0.2em 0;
      }
      #header > .numbers > .invoiceNumber {
        font-size: 1.2em;
      }
      #header > .numbers > .extraNumber {
        color: #777;
      }
      #fromTo {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-top: 2em;
      }
      #fromTo h3 {
        margin: 0 0 1em 0;
      }
      #fromTo > #from,
      #fromTo > #to {
        position: relative;
        -webkit-flex: 1;
        flex: 1;
        padding: 1.6em 1em 1em 1em;
        border-radius: 0.5em;
      }
      #fromTo > #from::before,
      #fromTo > #to::before {
        position: absolute;
        top: -0.7em;
        right: 0;
        left: 0;
        width: 40%;
        margin: auto;
        padding: 0.2em;
        border-radius: 1em;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
      }
      #fromTo > #from {
        margin-right: 1em;
        background: #edf6ff;
        box-shadow: 0 0 0 2px #007bff inset;
      }
      #fromTo > #from::before {
        content: "#{supplier}";
      }
      #fromTo > #from::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin: auto;
        margin-right: -1em;
        border-width: 2em 0 2em 1em;
        border-style: solid;
        border-color: transparent transparent transparent #007bff;
      }
      #fromTo > #to {
        margin-left: 1em;
        box-shadow: 0 0 0 2px #777 inset;
      }
      #fromTo > #to::before {
        content: "#{customer}";
        background-color: #777;
      }
      #fromTo > #from > div,
      #fromTo > #to > div {
        margin-top: 0.2em;
      }
      #extraInfo {
        margin-top: 1em;
        padding: 1em;
        border-radius: 0.5em;
      }
      #extraInfo > div {
        padding: 0.2em 0;
      }
      #extraInfo .description {
        margin-top: 1em;
      }
      #vatRates {
        margin-top: 1em;
        border-radius: 0.5em;
      }
      #vatRates > table {
        width: 100%;
      }
      #vatRates > table > thead {
        background-color: #007bff;
        color: #fff;
      }
      #vatRates > table > tfoot > tr > td {
        text-align: center;
      }
      #vatRates > table > tfoot > tr > td:first-child {
        border-bottom-left-radius: 0.5em;
      }
      #vatRates > table > tfoot > tr > td:last-child {
        border-bottom-right-radius: 0.5em;
      }
      #vatRates > table > thead > tr > th:first-child {
        border-top-left-radius: 0.5em;
      }
      #vatRates > table > thead > tr > th:last-child {
        border-top-right-radius: 0.5em;
      }
      #vatRates > table > tbody > tr > td {
        border-bottom: 2px solid #eaeaea;
        text-align: right;
      }
      #vatRates > table > tbody > tr > td:first-child {
        font-weight: bold;
      }
      #vatRates > table > tbody > tr > td + td {
        border-left: 2px solid #eaeaea;
      }
      #vatRates > table td,
      #vatRates > table th {
        width: 28%;
        padding: 0.5em;
      }
      #vatRates > table td:first-child,
      #vatRates > table th:first-child {
        width: 16%;
        padding-left: 1em;
      }
      #vatRates > table td:last-child,
      #vatRates > table th:last-child {
        padding-right: 1em;
      }
      #summary {
        margin-top: 2em;
        text-align: right;
      }
      #summary > div {
        margin: 0.2em 0;
        padding: 0 1em;
      }
      #summary > .total {
        display: inline-block;
        margin-top: 1em;
        margin-left: auto;
        padding: 1em;
        border-radius: 2em;
        box-shadow: 0 0 0 2px #007bff inset;
      }
      #summary > .total strong {
        font-size: 1.2em;
      }
      #footer {
        margin-top: auto;
        padding-top: 1em;
        border-top: 2px solid #eaeaea;
        text-align: center;
        font-size: 0.9em;
      }
    #container
      #header
        div(class='logo')
          if globalDescription
            img(src=`${globalLogoUrl}`)
        div(class='numbers')
          if globalInvoiceNumber
            p(class='invoiceNumber')
              strong #{invoice} #: 
              | #{globalInvoiceNumber}
          if globalVsValue
            p(class='extraNumber')
              strong #{variableSymbol}: 
              | #{globalVsValue}
          if globalKsValue
            p(class='extraNumber')
              strong #{constantCode}: 
              | #{globalKsValue}
      #fromTo
        #from
          if senderBusinessName
            h3 #{senderBusinessName}
          if senderBusinessId
            div
              strong #{businessId}: 
              | #{senderBusinessId}
          if senderVatId
            div
              strong #{vatId}: 
              | #{senderVatId}
          if senderBankAccount
            div
              strong #{bankAccount}: 
              | #{senderBankAccount}
              if senderBankCode
                | /#{senderBankCode}
          if senderBusinessAddress
            div
            strong #{address}: 
            | #{senderBusinessAddress}
        #to
          if recipientBusinessName
            h3 #{recipientBusinessName}
          if recipientBusinessId
            div
              strong #{businessId}: 
              | #{recipientBusinessId}
          if recipientVatId
            div
            strong #{vatId}: 
            | #{recipientVatId}
          if recipientBankAccount
            div
              strong #{bankAccount}: 
              | #{recipientBankAccount}
              if recipientBankCode
                | /#{recipientBankCode}
          if recipientBusinessAddress
            div
            strong #{address}: 
            | #{recipientBusinessAddress}
      #extraInfo
        if globalIssueDate
          div
            strong #{invoiceDate}: 
            | #{globalIssueDate}
        if globalDueDate
          div
            strong #{dueDate}: 
            | #{globalDueDate}
        if globalTaxDate
          div
            strong #{dateOfTaxableSupply}: 
            | #{globalTaxDate}
        if globalDescription
          div(class='description')
            strong #{description}: 
            em #{globalDescription}
      #vatRates
        table
          thead
            tr
              th #{vat} %
              th #{base}
              th #{vat}
              th #{total}
          tbody
            - var length = globalAmountVatRates.length
            - for (var row = 0; row < length; row++) {
                - var rowData = globalAmountVatRates[row]
                tr
                  td #{rowData && rowData.rate}%
                  td #{rowData && rowData.base}
                  td #{rowData && rowData.value}
                  td #{rowData && rowData.total}
            - }
          tfoot
            tr
              td(colspan=6)
                em
                  | #{amountExpressedIn} 
                  strong #{globalCurrency}
      #summary
        div
          | #{totalExclVat}: 
          strong #{globalTotalAmounts.base} #{globalCurrency}
        div
          | #{totalVat}: 
          strong #{globalTotalAmounts.vat} #{globalCurrency}
        div(class='total')
         | #{totalAmount}: 
         strong #{globalTotalAmounts.total} #{globalCurrency}
      #footer
        if globalFooterText
          em #{globalFooterText}